.container{
    display: flex;
    
    gap: 1rem ;
}

.btn{
    padding: 10px;
    border: none;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.input{
    width: 70px;
    border-radius: 1rem;
    padding: 10px;
    
    border: none;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    font-size: 1rem;
    font-weight: bold;
}

.search{
    display: flex;
    gap: 0.5rem;
}

